$redcolor:#EA1F54;
$bluecolor:#2685EF;

.title{
    width:100%;
    // background-color:#000;
    position: absolute;
    top:50%;
    transform:translate(0,-50%);
}
.title h1{
    text-align: center;
    color:#fff;
    font-size: 5rem;
    margin-bottom:20px;
}
.title p{
    margin-top:20px;
}

.young{
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
.report{
    -webkit-animation: neon2 1.8s ease-in-out infinite alternate;
    -moz-animation: neon2 1.8s ease-in-out infinite alternate;
    animation: neon2 1.8s ease-in-out infinite alternate;
  }
  /*glow for webkit*/
  
  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $redcolor, 0 0 70px $redcolor, 0 0 80px $redcolor, 0 0 100px $redcolor, 0 0 150px $redcolor;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $redcolor, 0 0 35px $redcolor, 0 0 40px $redcolor, 0 0 50px $redcolor, 0 0 75px $redcolor;
    }
  }
  

  /*glow for mozilla*/
  
  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px $bluecolor, 0 0 70px $bluecolor, 0 0 80px $bluecolor, 0 0 100px $bluecolor, 0 0 150px $bluecolor;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px $bluecolor, 0 0 35px $bluecolor, 0 0 40px $bluecolor, 0 0 50px $bluecolor, 0 0 75px $bluecolor;
    }
  }
  
  /*glow*/
  
  @keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px $bluecolor, 0 0 70px $bluecolor, 0 0 80px $bluecolor, 0 0 100px $bluecolor, 0 0 150px $bluecolor;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px $bluecolor, 0 0 35px $bluecolor, 0 0 40px $bluecolor, 0 0 50px $bluecolor, 0 0 75px $bluecolor;
      }
  }
  


  @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff,  0 0 40px $redcolor, 0 0 70px $redcolor, 0 0 80px $redcolor, 0 0 100px $redcolor, 0 0 150px $redcolor;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff,  0 0 20px $redcolor, 0 0 35px $redcolor, 0 0 40px $redcolor, 0 0 50px $redcolor, 0 0 75px $redcolor;
    }
  }
  
  @keyframes flicker {
    0%    { opacity: 1;   }
    3%    { opacity: 0.4; }
    6%    { opacity: 1;   }
    7%    { opacity: 0.4; }
    8%    { opacity: 1;   }
    9%    { opacity: 0.4; }
    10%   { opacity: 1;   }
    100%  { opacity: 1;   }
  }